<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p>{{ site.description }}</p>
    </header>

    <nav>
      <ul>
        <li>
          <a href="{{ '/docs/clases/clases.html' | relative_url }}">Clases</a>
        </li>
        <li>
          <a href="{{ '/configuracion.html' | relative_url }}">Configuración</a>
        </li>
      </ul>
    </nav>

    <main class="page-content">
      <div class="wrapper">{{ content }}</div>
    </main>

    <footer>
      <p>Autor: {{ site.author.name }}</p>
    </footer>
  </body>
</html>
